.main-content {
  transition: margin-left 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 100vh;
  padding: 1.5rem;
}

.main-content.expanded {
  margin-left: 230px;
}

.main-content.collapsed {
  margin-left: 80px;
}

.main-content-logged-out {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
