/* apps/web/src/components/ui/LoadingAnimation.css */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.loading-container svg {
  width: 100px;
  height: auto;
}

.cls-1 {
  fill: rgba(186, 59, 70, 0);
  stroke: #ba3b46;
  stroke-width: 2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawAndReverse 6s cubic-bezier(0.65, 0, 0.35, 1) infinite;
}

@keyframes drawAndReverse {
  0% {
    stroke-dashoffset: 1000;
    fill: rgba(186, 59, 70, 0);
    stroke-width: 2;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  }
  30% {
    stroke-dashoffset: 0;
    fill: rgba(186, 59, 70, 0);
    stroke-width: 2;
    animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
  }
  45% {
    stroke-dashoffset: 0;
    fill: rgba(186, 59, 70, 1);
    stroke-width: 0;
    animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  }
  55% {
    stroke-dashoffset: 0;
    fill: rgba(186, 59, 70, 1);
    stroke-width: 0;
    animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
  }
  70% {
    stroke-dashoffset: 0;
    fill: rgba(186, 59, 70, 0);
    stroke-width: 2;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  }
  100% {
    stroke-dashoffset: 1000;
    fill: rgba(186, 59, 70, 0);
    stroke-width: 2;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  }
}
