.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.login-container button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}

.login-container .error {
  color: var(--primary);
  text-align: center;
  margin-top: 1rem;
}

.login-container p {
  text-align: center;
  margin-top: 1.5rem;
}
